{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenAPI definition",
        "version": "v0"
    },
    "servers": [
        {
            "url": "http://freeti.ru:8091",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/avatar": {
            "get": {
                "tags": [
                    "avatar-entity-controller"
                ],
                "description": "get-avatar",
                "operationId": "getCollectionResource-avatar-get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelAvatar"
                                }
                            },
                            "application/x-spring-data-compact+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelAvatar"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "avatar-entity-controller"
                ],
                "description": "create-avatar",
                "operationId": "postCollectionResource-avatar-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AvatarRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelAvatar"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/avatar/search/findByLink": {
            "get": {
                "tags": [
                    "avatar-search-controller"
                ],
                "operationId": "executeSearch-avatar-get",
                "parameters": [
                    {
                        "name": "link",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelAvatar"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/avatar/{id}": {
            "get": {
                "tags": [
                    "avatar-entity-controller"
                ],
                "description": "get-avatar",
                "operationId": "getItemResource-avatar-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelAvatar"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "avatar-entity-controller"
                ],
                "description": "update-avatar",
                "operationId": "putItemResource-avatar-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AvatarRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelAvatar"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelAvatar"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "avatar-entity-controller"
                ],
                "description": "delete-avatar",
                "operationId": "deleteItemResource-avatar-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "avatar-entity-controller"
                ],
                "description": "patch-avatar",
                "operationId": "patchItemResource-avatar-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AvatarRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelAvatar"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/contacts": {
            "get": {
                "tags": [
                    "contact-entity-controller"
                ],
                "description": "get-contact",
                "operationId": "getCollectionResource-contact-get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelContact"
                                }
                            },
                            "application/x-spring-data-compact+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelContact"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "contact-entity-controller"
                ],
                "description": "create-contact",
                "operationId": "postCollectionResource-contact-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/search/deleteALlByFirstAndSecond": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "second",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/search/deleteALlByFirstOrSecond": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get_1",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "second",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/search/findAllByFirstAndIsFriend": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get_2",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "isFriend",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelContact"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/search/findAllByFirstAndSecond": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get_3",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "second",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/search/findAllByFirstAndSecondAndIsFriend": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get_4",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "second",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "isFriend",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/search/findAllBySecondAndIsFriend": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get_5",
                "parameters": [
                    {
                        "name": "second",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "isFriend",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelContact"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/search/updateIsFriend": {
            "get": {
                "tags": [
                    "contact-search-controller"
                ],
                "operationId": "executeSearch-contact-get_6",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "second",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "isFriend",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/{id}": {
            "get": {
                "tags": [
                    "contact-entity-controller"
                ],
                "description": "get-contact",
                "operationId": "getItemResource-contact-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "contact-entity-controller"
                ],
                "description": "update-contact",
                "operationId": "putItemResource-contact-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact-entity-controller"
                ],
                "description": "delete-contact",
                "operationId": "deleteItemResource-contact-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "contact-entity-controller"
                ],
                "description": "patch-contact",
                "operationId": "patchItemResource-contact-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ContactRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelContact"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/contacts/{id}/first": {
            "get": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "get-user-by-contact-Id",
                "operationId": "followPropertyReference-contact-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "update-user-by-contact-Id",
                "operationId": "createPropertyReference-contact-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "delete-user-by-contact-Id",
                "operationId": "deletePropertyReference-contact-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "patch-user-by-contact-Id",
                "operationId": "createPropertyReference-contact-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/contacts/{id}/first/{propertyId}": {
            "get": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "get-user-by-contact-Id",
                "operationId": "followPropertyReference-contact-get_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "delete-user-by-contact-Id",
                "operationId": "deletePropertyReferenceId-contact-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/contacts/{id}/second": {
            "get": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "get-user-by-contact-Id",
                "operationId": "followPropertyReference-contact-get_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "update-user-by-contact-Id",
                "operationId": "createPropertyReference-contact-put_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "delete-user-by-contact-Id",
                "operationId": "deletePropertyReference-contact-delete_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "patch-user-by-contact-Id",
                "operationId": "createPropertyReference-contact-patch_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/contacts/{id}/second/{propertyId}": {
            "get": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "get-user-by-contact-Id",
                "operationId": "followPropertyReference-contact-get_3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "contact-property-reference-controller"
                ],
                "description": "delete-user-by-contact-Id",
                "operationId": "deletePropertyReferenceId-contact-delete_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_events": {
            "get": {
                "tags": [
                    "group-events-entity-controller"
                ],
                "description": "get-groupevents",
                "operationId": "getCollectionResource-groupevents-get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupEvents"
                                }
                            },
                            "application/x-spring-data-compact+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupEvents"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "group-events-entity-controller"
                ],
                "description": "create-groupevents",
                "operationId": "postCollectionResource-groupevents-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupEventsRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupEvents"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group_events/search/deleteAllByGroup": {
            "get": {
                "tags": [
                    "group-events-search-controller"
                ],
                "operationId": "executeSearch-groupevents-get",
                "parameters": [
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Groups"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_events/search/findAllByGroup": {
            "get": {
                "tags": [
                    "group-events-search-controller"
                ],
                "operationId": "executeSearch-groupevents-get_1",
                "parameters": [
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Groups"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupEvents"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_events/search/findAllByGroupAndEndingBetween": {
            "get": {
                "tags": [
                    "group-events-search-controller"
                ],
                "operationId": "executeSearch-groupevents-get_2",
                "parameters": [
                    {
                        "name": "groups",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Groups"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupEvents"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_events/{id}": {
            "get": {
                "tags": [
                    "group-events-entity-controller"
                ],
                "description": "get-groupevents",
                "operationId": "getItemResource-groupevents-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupEvents"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "group-events-entity-controller"
                ],
                "description": "update-groupevents",
                "operationId": "putItemResource-groupevents-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupEventsRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupEvents"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupEvents"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-entity-controller"
                ],
                "description": "delete-groupevents",
                "operationId": "deleteItemResource-groupevents-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "group-events-entity-controller"
                ],
                "description": "patch-groupevents",
                "operationId": "patchItemResource-groupevents-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupEventsRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupEvents"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/group_events/{id}/createByUser": {
            "get": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "get-user-by-groupevents-Id",
                "operationId": "followPropertyReference-groupevents-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "update-user-by-groupevents-Id",
                "operationId": "createPropertyReference-groupevents-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "delete-user-by-groupevents-Id",
                "operationId": "deletePropertyReference-groupevents-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "patch-user-by-groupevents-Id",
                "operationId": "createPropertyReference-groupevents-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/group_events/{id}/createByUser/{propertyId}": {
            "get": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "get-user-by-groupevents-Id",
                "operationId": "followPropertyReference-groupevents-get_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelUser"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "delete-user-by-groupevents-Id",
                "operationId": "deletePropertyReferenceId-groupevents-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_events/{id}/group": {
            "get": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "get-groups-by-groupevents-Id",
                "operationId": "followPropertyReference-groupevents-get_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "update-groups-by-groupevents-Id",
                "operationId": "createPropertyReference-groupevents-put_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "delete-groups-by-groupevents-Id",
                "operationId": "deletePropertyReference-groupevents-delete_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "patch-groups-by-groupevents-Id",
                "operationId": "createPropertyReference-groupevents-patch_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/group_events/{id}/group/{propertyId}": {
            "get": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "get-groups-by-groupevents-Id",
                "operationId": "followPropertyReference-groupevents-get_3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "delete-groups-by-groupevents-Id",
                "operationId": "deletePropertyReferenceId-groupevents-delete_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_events/{id}/pushTemplate": {
            "get": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "get-pushtemplate-by-groupevents-Id",
                "operationId": "followPropertyReference-groupevents-get_4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelPushTemplate"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "update-pushtemplate-by-groupevents-Id",
                "operationId": "createPropertyReference-groupevents-put_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelPushTemplate"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelPushTemplate"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "delete-pushtemplate-by-groupevents-Id",
                "operationId": "deletePropertyReference-groupevents-delete_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "patch-pushtemplate-by-groupevents-Id",
                "operationId": "createPropertyReference-groupevents-patch_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelPushTemplate"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/group_events/{id}/pushTemplate/{propertyId}": {
            "get": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "get-pushtemplate-by-groupevents-Id",
                "operationId": "followPropertyReference-groupevents-get_5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelPushTemplate"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "group-events-property-reference-controller"
                ],
                "description": "delete-pushtemplate-by-groupevents-Id",
                "operationId": "deletePropertyReferenceId-groupevents-delete_2",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "propertyId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_members": {
            "get": {
                "tags": [
                    "groups-users-entity-controller"
                ],
                "description": "get-groupsusers",
                "operationId": "getCollectionResource-groupsusers-get",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupsUsers"
                                }
                            },
                            "application/x-spring-data-compact+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupsUsers"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "groups-users-entity-controller"
                ],
                "description": "create-groupsusers",
                "operationId": "postCollectionResource-groupsusers-post",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupsUsersRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupsUsers"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group_members/search/deleteAllByGroup": {
            "get": {
                "tags": [
                    "groups-users-search-controller"
                ],
                "operationId": "executeSearch-groupsusers-get",
                "parameters": [
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Groups"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_members/search/deleteAllByUser": {
            "get": {
                "tags": [
                    "groups-users-search-controller"
                ],
                "operationId": "executeSearch-groupsusers-get_1",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_members/search/findAllByGroup": {
            "get": {
                "tags": [
                    "groups-users-search-controller"
                ],
                "operationId": "executeSearch-groupsusers-get_2",
                "parameters": [
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Groups"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_members/search/findAllByUser": {
            "get": {
                "tags": [
                    "groups-users-search-controller"
                ],
                "operationId": "executeSearch-groupsusers-get_3",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CollectionModelEntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_members/search/findByUserAndGroup": {
            "get": {
                "tags": [
                    "groups-users-search-controller"
                ],
                "operationId": "executeSearch-groupsusers-get_4",
                "parameters": [
                    {
                        "name": "user",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    {
                        "name": "group",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/Groups"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/group_members/{id}": {
            "get": {
                "tags": [
                    "groups-users-entity-controller"
                ],
                "description": "get-groupsusers",
                "operationId": "getItemResource-groupsusers-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "groups-users-entity-controller"
                ],
                "description": "update-groupsusers",
                "operationId": "putItemResource-groupsusers-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupsUsersRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "delete": {
                "tags": [
                    "groups-users-entity-controller"
                ],
                "description": "delete-groupsusers",
                "operationId": "deleteItemResource-groupsusers-delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "patch": {
                "tags": [
                    "groups-users-entity-controller"
                ],
                "description": "patch-groupsusers",
                "operationId": "patchItemResource-groupsusers-patch",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GroupsUsersRequestBody"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroupsUsers"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/group_members/{id}/group": {
            "get": {
                "tags": [
                    "groups-users-property-reference-controller"
                ],
                "description": "get-groups-by-groupsusers-Id",
                "operationId": "followPropertyReference-groupsusers-get",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            },
                            "text/uri-list": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": [
                    "groups-users-property-reference-controller"
                ],
                "description": "update-groups-by-groupsusers-Id",
                "operationId": "createPropertyReference-groupsusers-put",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "application/x-spring-data-compact+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CollectionModelObject"
                            }
                        },
                        "text/uri-list": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/hal+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityModelGroups"
                                }
                            }
[...]
